alembic==1.2.1
apache-airflow==1.10.5
apispec==3.0.0
appnope==0.1.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.8.1
bleach==3.0.2
bs4==0.0.1
cached-property==1.5.1
calmap==0.0.8
censusgeocode==0.4.3.post1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
colorlog==4.0.2
configparser==3.5.3
croniter==0.3.30
cryptography==2.8
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.9
docutils==0.15.2
dumb-init==1.2.2
entrypoints==0.2.3
ez-setup==0.9
Flask==1.1.1
Flask-Admin==1.5.3
Flask-AppBuilder==1.13.1
Flask-Babel==0.12.2
Flask-Caching==1.3.3
Flask-JWT-Extended==3.23.0
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.1
flask-swagger==0.2.13
Flask-WTF==0.14.2
funcsigs==1.0.0
future==0.16.0
geocoder==1.38.1
geographiclib==1.50
geopy==1.20.0
googlemaps==3.1.3
gunicorn==19.9.0
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
iso8601==0.1.12
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10.1
joblib==0.14.0
json-merge-patch==0.2
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
lockfile==0.12.2
Mako==1.1.0
Markdown==2.6.11
MarkupSafe==1.1.0
marshmallow==2.19.5
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.19.0
matplotlib==3.1.1
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.2
numpy==1.17.2
ordereddict==1.1
import pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import osimport pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import osimport pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import osimport pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import osimport pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import osimport pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import osimport pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import osimport pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import osimport pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import osimport pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import osimport pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import osimport pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import osimport pandas as pd 
import numpy as np
from datetime import date
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import ospandas==0.25.1
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.1
pendulum==1.4.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.2.0
prison==0.1.0
prometheus-client==0.4.2
prompt-toolkit==2.0.7
psutil==5.6.3
psycopg2-binary==2.8.4
ptyprocess==0.6.0
pycparser==2.19
pygame==1.9.6
Pygments==2.3.0
PyJWT==1.7.1
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyrsistent==0.15.4
python-daemon==2.1.2
python-dateutil==2.7.5
python-editor==1.0.4
python3-openid==3.1.0
pytz==2019.2
pytzdata==2019.3
PyYAML==5.1.2
pyzmq==17.1.2
qtconsole==4.4.3
ratelim==0.1.6
requests==2.22.0
requests-toolbelt==0.9.1
scikit-learn==0.21.3
scipy==1.3.1
Send2Trash==1.5.0
setproctitle==1.1.10
six==1.11.0
sklearn==0.0
soupsieve==1.9.5
SQLAlchemy==1.3.8
statsmodels==0.10.1
tabulate==0.8.5
tenacity==4.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
text-unidecode==1.2
thrift==0.11.0
tornado==5.1.1
traitlets==4.3.2
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.25.6
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.4.2
wordcloud==1.7.0
WTForms==2.2.1
zope.deprecation==4.4.0
